USE [master]
GO
/****** Object:  Database [SISTEMA_VIATICOS]    Script Date: 30/5/2025 15:48:04 ******/
CREATE DATABASE [SISTEMA_VIATICOS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SISTEMA_VIATICOS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SISTEMA_VIATICOS.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SISTEMA_VIATICOS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SISTEMA_VIATICOS_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SISTEMA_VIATICOS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SISTEMA_VIATICOS]
GO
/****** Object:  User [BANADESA\usupool.acc]    Script Date: 30/5/2025 15:48:05 ******/
CREATE USER [BANADESA\usupool.acc] FOR LOGIN [BANADESA\usupool.acc] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [BANADESA\usupool.acc]
GO
ALTER ROLE [db_datareader] ADD MEMBER [BANADESA\usupool.acc]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [BANADESA\usupool.acc]
GO
/****** Object:  Table [dbo].[Aprobaciones]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aprobaciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SolicitudId] [int] NOT NULL,
	[AprobadorId] [nvarchar](20) NOT NULL,
	[FechaAprobacion] [datetime] NULL,
	[Estado] [int] NOT NULL,
	[Comentario] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoriaEmpleado]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriaEmpleado](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TipoCategoria] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TipoCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoriaZona]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriaZona](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TipoZona] [nvarchar](20) NOT NULL,
	[ValorA] [decimal](7, 2) NOT NULL,
	[ValorB] [decimal](7, 2) NOT NULL,
	[ValorC] [decimal](7, 2) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeptoBnd]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeptoBnd](
	[IdDepto] [int] IDENTITY(1,1) NOT NULL,
	[DescDepto] [varchar](60) NOT NULL,
 CONSTRAINT [PK_DeptoBnd] PRIMARY KEY CLUSTERED 
(
	[IdDepto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleLiquidacion]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleLiquidacion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LiquidacionId] [int] NOT NULL,
	[DescDetalle] [nvarchar](15) NOT NULL,
	[DiasSiNo] [nvarchar](10) NOT NULL,
	[Monto] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleViaticos]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleViaticos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SolicitudId] [int] NOT NULL,
	[DescDetalle] [nvarchar](15) NOT NULL,
	[DiasSiNo] [nvarchar](10) NOT NULL,
	[Monto] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiferenciaAFavor]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiferenciaAFavor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](15) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmpleadosBnd]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmpleadosBnd](
	[CODIGO_EMPLEADO] [nvarchar](50) NOT NULL,
	[NOMBRE_EMPLEADO] [nvarchar](50) NOT NULL,
	[CEDULA] [nvarchar](50) NOT NULL,
	[ESTADO] [nvarchar](50) NOT NULL,
	[NUMERO_CUENTA] [nvarchar](50) NOT NULL,
	[FECHA_INGRESO] [date] NOT NULL,
	[COD_AREA] [nvarchar](50) NOT NULL,
	[COD_PUESTO] [nvarchar](50) NOT NULL,
	[CATEGORIA] [nvarchar](50) NOT NULL,
	[DESCRIPCION_PUESTO] [nvarchar](50) NOT NULL,
	[DESCRIPCION_DEPARTAMENTO] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmpleadosViaticos]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmpleadosViaticos](
	[NOMBRE_DEL_EMPLEADO] [nvarchar](50) NOT NULL,
	[NUMERO_DE_CUENTA] [nvarchar](50) NULL,
	[NUMERO_DE_IDENTIDAD] [nvarchar](50) NULL,
	[NUMERO_DE_EMPLEADO] [nvarchar](50) NULL,
	[CARGO] [nvarchar](50) NULL,
	[DEPENDENCIA] [nvarchar](50) NOT NULL,
	[CATEGORIA] [tinyint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estado]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado](
	[IdEstado] [char](1) NOT NULL,
	[DescEstado] [varchar](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoSolicitudes]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoSolicitudes](
	[IdEstadoSol] [int] IDENTITY(1,1) NOT NULL,
	[DescEstadoSol] [varchar](30) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HstLog]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HstLog](
	[ID_Log] [int] IDENTITY(1,1) NOT NULL,
	[UsuId] [varchar](20) NULL,
	[Fecha] [date] NULL,
	[Descripcion] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LiquidacionGastos]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LiquidacionGastos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdSolicitud] [int] NOT NULL,
	[UsuarioId] [nvarchar](20) NOT NULL,
	[UsuarioIdG1] [nvarchar](20) NULL,
	[UsuarioIdR1] [nvarchar](20) NULL,
	[UsuarioIdR2] [nvarchar](20) NULL,
	[UsuarioIdR3] [nvarchar](20) NULL,
	[UsuarioIdO1] [nvarchar](20) NULL,
	[CodE] [nvarchar](10) NOT NULL,
	[NumCta] [nvarchar](30) NOT NULL,
	[FechaSolicitud] [datetime] NOT NULL,
	[NombreSol] [nvarchar](80) NOT NULL,
	[Categoria] [int] NOT NULL,
	[DescPuesto] [nvarchar](80) NOT NULL,
	[Depto] [int] NOT NULL,
	[Destino1] [int] NOT NULL,
	[Destino2] [int] NOT NULL,
	[Destino3] [int] NOT NULL,
	[EstadoSol] [int] NOT NULL,
	[Proposito] [nvarchar](200) NOT NULL,
	[MontoTotal] [decimal](10, 2) NOT NULL,
	[MontoAsignado] [decimal](10, 2) NOT NULL,
	[MontoDiferencia] [decimal](10, 2) NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFin] [date] NOT NULL,
	[CantDias] [decimal](5, 2) NOT NULL,
	[TipoTransporte] [int] NOT NULL,
	[DiferenciaAFavor] [int] NOT NULL,
	[Observaciones] [nvarchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificacionA]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificacionA](
	[IdNotificacion] [int] IDENTITY(1,1) NOT NULL,
	[Correo] [varchar](30) NOT NULL,
	[NombreResponsable] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Acron] [nchar](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SolicitudesViat]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SolicitudesViat](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [nvarchar](20) NOT NULL,
	[UsuarioIdG1] [nvarchar](20) NULL,
	[UsuarioIdR1] [nvarchar](20) NULL,
	[UsuarioIdR2] [nvarchar](20) NULL,
	[UsuarioIdR3] [nvarchar](20) NULL,
	[UsuarioIdO1] [nvarchar](20) NULL,
	[CodE] [nvarchar](10) NOT NULL,
	[NumCta] [nvarchar](30) NOT NULL,
	[FechaSolicitud] [datetime] NOT NULL,
	[NombreSol] [nvarchar](80) NOT NULL,
	[Categoria] [int] NOT NULL,
	[DescPuesto] [nvarchar](80) NOT NULL,
	[Depto] [int] NOT NULL,
	[Destino1] [int] NOT NULL,
	[Destino2] [int] NOT NULL,
	[Destino3] [int] NOT NULL,
	[EstadoSol] [int] NOT NULL,
	[TipoTransp] [int] NOT NULL,
	[Proposito] [nvarchar](200) NOT NULL,
	[MontoTotal] [decimal](10, 2) NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFin] [date] NOT NULL,
	[CantDias] [decimal](5, 2) NOT NULL,
	[Observaciones] [nvarchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoTransporte]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoTransporte](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](15) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsrVtcs]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsrVtcs](
	[USID] [int] IDENTITY(1,1) NOT NULL,
	[USUN] [nvarchar](10) NOT NULL,
	[USUP] [varbinary](64) NOT NULL,
	[USUCN] [nvarchar](100) NOT NULL,
	[USUE] [char](2) NOT NULL,
	[USCREATE] [date] NULL,
	[USTYPE] [char](2) NULL,
	[USDEPTO] [char](2) NULL,
	[USEMAIL] [nvarchar](30) NULL,
	[RolId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[USID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[USUN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioDepartamentos]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioDepartamentos](
	[USUN] [nvarchar](10) NOT NULL,
	[IdDepto] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[USUN] ASC,
	[IdDepto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ZONAS]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZONAS](
	[ID_ZONA] [int] IDENTITY(1,1) NOT NULL,
	[TipoZona] [int] NULL,
	[Descripcion] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ZONA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Aprobaciones] ADD  DEFAULT (getdate()) FOR [FechaAprobacion]
GO
ALTER TABLE [dbo].[UsrVtcs] ADD  DEFAULT ((2)) FOR [RolId]
GO
ALTER TABLE [dbo].[UsrVtcs]  WITH CHECK ADD FOREIGN KEY([RolId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[UsuarioDepartamentos]  WITH CHECK ADD FOREIGN KEY([IdDepto])
REFERENCES [dbo].[DeptoBnd] ([IdDepto])
GO
ALTER TABLE [dbo].[UsuarioDepartamentos]  WITH CHECK ADD FOREIGN KEY([USUN])
REFERENCES [dbo].[UsrVtcs] ([USUN])
GO
/****** Object:  StoredProcedure [dbo].[EnviarAlertasLiquidacionesPendientes]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EnviarAlertasLiquidacionesPendientes]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Cantidad INT;
    DECLARE @Estado INT;
    DECLARE @Depto INT;
    DECLARE @Email VARCHAR(255);
    DECLARE @TipoUsuario VARCHAR(10);
    DECLARE @CuerpoCorreo VARCHAR(MAX);

    -- Cursor para combinar Depto + Estado únicos con cantidad
    DECLARE cur CURSOR FOR
        SELECT Depto, EstadoSol, COUNT(*) AS CANTIDAD
        FROM [SISTEMA_VIATICOS].[dbo].[LiquidacionGastos]
        WHERE EstadoSol IN (1,2,3,4,5,6,7)
        GROUP BY Depto, EstadoSol;

    OPEN cur;
    FETCH NEXT FROM cur INTO @Depto, @Estado, @Cantidad;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- Determinar tipo de usuario según estado
        SET @TipoUsuario = 
            CASE 
                WHEN @Estado = 2 THEN 'E1'
                WHEN @Estado IN (3,1)  THEN 'G1'
                WHEN @Estado = 4 THEN 'R1'
                WHEN @Estado = 5 THEN 'R3'
                WHEN @Estado = 6 THEN 'R2'
                WHEN @Estado = 7 THEN 'O1'
                ELSE NULL
            END;

		IF(@TipoUsuario='E1' OR @TipoUsuario='G1') 
		BEGIN
				-- Obtener correo según tipo de usuario y CON departamento
				SELECT @Email = STRING_AGG(USEMAIL, ';')
				FROM UsrVtcs
				WHERE USUE = 'A' AND USDEPTO = @Depto AND USTYPE = @TipoUsuario;
		END
		ELSE
		BEGIN
		        -- Obtener correo según tipo de usuario y SIN departamento
				SELECT @Email = STRING_AGG(USEMAIL, ';')
				FROM UsrVtcs
				WHERE USUE = 'A' AND USTYPE = @TipoUsuario;
		END;



        IF @Email IS NOT NULL AND @Cantidad > 0
        BEGIN
            SET @CuerpoCorreo = 
                '<div style="font-family: Arial; padding: 30px;">' +
                '<h2 style="color: #009688;">SISTEMA DE VIÁTICOS</h2>' +
                '<div style="padding: 60px 0; width: 100%; text-align: center;"><img src="https://banadesa.hn/wp-content/uploads/2022/11/cropped-Group-174.png" alt=""></div>' +
                '<p>Estimado responsable,</p>' +
                '<p>Tiene <strong>' + CAST(@Cantidad AS VARCHAR(10)) + '</strong> solicitudes de Liquidaciones con estado <strong>'  + CAST(@TipoUsuario AS VARCHAR) +  
                CASE 
                    WHEN @Estado = 1 THEN 'CREADO'
                    WHEN @Estado = 2 THEN 'EN ESPERA'
                    WHEN @Estado = 3 THEN 'RECHAZADO'
                    WHEN @Estado = 4 THEN 'EN PAGADURIA'
                    WHEN @Estado = 5 THEN 'EN PRESUPUESTOS'
                    WHEN @Estado = 6 THEN 'EN ADMINISTRACION'
                    WHEN @Estado = 7 THEN 'EN OPERACIONES'
                    WHEN @Estado = 8 THEN 'APROBADO '
                    ELSE 'PAGADO'
                END + 
                '</strong> en el sistema.</p>' +
                '<p>Por favor revise el sistema y tome acción.</p>' +
                '<a href="https://viaticos.banadesa.hn" style="background-color:#009688; padding: 10px 20px; color: white; text-decoration: none;">Ir al sistema</a>' +
                '</div>';

            EXEC msdb.dbo.sp_send_dbmail
                @profile_name = 'AlertaSistemaViaticos',
                @recipients = @Email,
                @subject = 'Alerta de Sistema de Viáticos Pendientes',
                @body = @CuerpoCorreo,
                @body_format = 'HTML';


				PRINT 'Depto: ' + CAST(@Depto AS VARCHAR) + ' Estado: ' + CAST(@Estado AS VARCHAR) + ' Cantidad: ' + CAST(@Cantidad AS VARCHAR) + ' Email: ' + ISNULL(@Email, 'NULL');

        END

        FETCH NEXT FROM cur INTO @Depto, @Estado, @Cantidad;
    END

    CLOSE cur;
    DEALLOCATE cur;
END
GO
/****** Object:  StoredProcedure [dbo].[EnviarAlertasViaticosPendientes]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EnviarAlertasViaticosPendientes]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Cantidad INT;
    DECLARE @Estado INT;
    DECLARE @Depto INT;
    DECLARE @Email VARCHAR(255);
    DECLARE @TipoUsuario VARCHAR(10);
    DECLARE @CuerpoCorreo VARCHAR(MAX);

    -- Cursor para combinar Depto + Estado únicos con cantidad
    DECLARE cur CURSOR FOR
        SELECT Depto, EstadoSol, COUNT(*) AS CANTIDAD
        FROM SolicitudesViat
        WHERE EstadoSol IN (1,2,3,4,5,6,7)
        GROUP BY Depto, EstadoSol;

    OPEN cur;
    FETCH NEXT FROM cur INTO @Depto, @Estado, @Cantidad;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- Determinar tipo de usuario según estado
           SET @TipoUsuario = 
            CASE 
                WHEN @Estado = 2 THEN 'E1'
                WHEN @Estado IN (3,1)  THEN 'G1'
                WHEN @Estado = 4 THEN 'R1'
                WHEN @Estado = 5 THEN 'R3'
                WHEN @Estado = 6 THEN 'R2'
                WHEN @Estado = 7 THEN 'O1'
                ELSE NULL
            END;

		IF(@TipoUsuario='E1' OR @TipoUsuario='G1') 
		BEGIN
				-- Obtener correo según tipo de usuario y CON departamento
				SELECT @Email = STRING_AGG(USEMAIL, ';')
				FROM UsrVtcs
				WHERE USUE = 'A' AND USDEPTO = @Depto AND USTYPE = @TipoUsuario;

		END
		ELSE
		BEGIN
		        -- Obtener correo según tipo de usuario y SIN departamento
				SELECT @Email = STRING_AGG(USEMAIL, ';')
				FROM UsrVtcs
				WHERE USUE = 'A' AND USTYPE = @TipoUsuario;

		END;



        IF @Email IS NOT NULL AND @Cantidad > 0
        BEGIN
            SET @CuerpoCorreo = 
                '<div style="font-family: Arial; padding: 30px;">' +
                '<h2 style="color: #009688;">SISTEMA DE VIÁTICOS</h2>' +
                '<div style="padding: 60px 0; width: 100%; text-align: center;"><img src="https://banadesa.hn/wp-content/uploads/2022/11/cropped-Group-174.png" alt=""></div>' +
                '<p>Estimado responsable,</p>' +
                '<p>Tiene <strong>' + CAST(@Cantidad AS VARCHAR(10)) + '</strong> solicitudes de viáticos con estado <strong>' + CAST(@TipoUsuario AS VARCHAR) + 
                CASE 
                    WHEN @Estado = 1 THEN 'CREADO'
                    WHEN @Estado = 2 THEN 'EN ESPERA'
                    WHEN @Estado = 3 THEN 'RECHAZADO'
                    WHEN @Estado = 4 THEN 'EN PAGADURIA'
                    WHEN @Estado = 5 THEN 'EN PRESUPUESTOS'
                    WHEN @Estado = 6 THEN 'EN ADMINISTRACION'
                    WHEN @Estado = 7 THEN 'EN OPERACIONES'
                    WHEN @Estado = 8 THEN 'APROBADO '
                    ELSE 'PAGADO'
                END + 
                '</strong> en el sistema.</p>' +
                '<p>Por favor revise el sistema y tome acción.</p>' +
                '<a href="https://viaticos.banadesa.hn" style="background-color:#009688; padding: 10px 20px; color: white; text-decoration: none;">Ir al sistema</a>' +
                '</div>';

            EXEC msdb.dbo.sp_send_dbmail
                @profile_name = 'AlertaSistemaViaticos',
                @recipients = @Email,
                @subject = 'Alerta de Sistema de Viáticos Pendientes',
                @body = @CuerpoCorreo,
                @body_format = 'HTML';


				PRINT 'Depto: ' + CAST(@Depto AS VARCHAR) + ' Estado: ' + CAST(@Estado AS VARCHAR) + ' Cantidad: ' + CAST(@Cantidad AS VARCHAR) + ' Email: ' + ISNULL(@Email, 'NULL');

        END

        FETCH NEXT FROM cur INTO @Depto, @Estado, @Cantidad;
    END

    CLOSE cur;
    DEALLOCATE cur;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ActCategoriaEmpleado]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActCategoriaEmpleado]
    @ValorA decimal,
	@ValorB decimal,
	@ValorC decimal,
    @TipoZona nvarchar(15)
AS
BEGIN
    
   UPDATE [SISTEMA_VIATICOS].[dbo].[CategoriaZona]
   SET [ValorA] = @ValorA,
      [ValorB] = @ValorB,
      [ValorC] = @ValorC
   WHERE [TipoZona] = @TipoZona

END;


/*
[TipoZona]
      ,[ValorA]
      ,[ValorB]
      ,[ValorC]
*/
GO
/****** Object:  StoredProcedure [dbo].[sp_ActContraseña]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActContraseña]
    @UsrSist nvarchar(10),
    @NContraseña nvarchar(255)
AS
BEGIN
    
    -- Actualizar estado de la solicitud
    UPDATE [SISTEMA_VIATICOS].[dbo].[UsrVtcs] 
    SET [USUP] = HASHBYTES('SHA2_256', @NContraseña) 
    WHERE [USUN] = @UsrSist;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ActZon]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActZon]
@Id INT,
@TipZon INT,
@NomZon NVARCHAR(80)

AS
BEGIN
    
	UPDATE [SISTEMA_VIATICOS].[dbo].[ZONAS]
	SET [Descripcion] = @NomZon
	,[TipoZona] = @TipZon
	WHERE ID_ZONA=@Id;



END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ActZona]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActZona]
    @Desc nvarchar(50),
    @TipoZona int
AS
BEGIN

    UPDATE [SISTEMA_VIATICOS].[dbo].[ZONAS] 
    SET TipoZona = @TipoZona
    WHERE [Descripcion] = @Desc;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AgregarDetalleViatico]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AgregarDetalleViatico]
    @SolicitudId INT,
    @TipoGasto NVARCHAR(50),
    @Monto DECIMAL(10,2),
    @Descripcion NVARCHAR(255)
AS
BEGIN
    INSERT INTO DetalleViaticos (SolicitudId, TipoGasto, Monto, Descripcion)
    VALUES (@SolicitudId, @TipoGasto, @Monto, @Descripcion);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_BuscarDatosE]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_BuscarDatosE] 

AS
BEGIN
    SET NOCOUNT ON;



  SELECT  [CODIGO_EMPLEADO] #Empleado
      ,[NOMBRE_EMPLEADO]
      ,[CEDULA]
      ,CASE WHEN [Estado] = 'A' THEN 'ACTIVO' ELSE 'INACTIVO' END EstadoE
      ,[NUMERO_CUENTA]
      ,[CATEGORIA]
      ,[DESCRIPCION_PUESTO]
      ,[DESCRIPCION_DEPARTAMENTO]
  FROM [SISTEMA_VIATICOS].[dbo].[EmpleadosBnd];





END;
GO
/****** Object:  StoredProcedure [dbo].[sp_BuscarDatosU]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_BuscarDatosU] 

AS
BEGIN
    SET NOCOUNT ON;

	SELECT [USID]
      ,[USUN] AS Usuario
      ,[USUP]AS Contraseña
      ,[USUCN] AS Nombre
	  ,CASE WHEN [USUE] = 'A' THEN 'ACTIVO' ELSE 'INACTIVO' END Estado
      ,[USCREATE]
      ,[USTYPE]
      ,[USDEPTO]
      ,[USEMAIL] AS Correo
      ,[RolId]
  FROM [dbo].[UsrVtcs]


END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearSolicitudViatico]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CrearSolicitudViatico]
    @UsuarioId INT,
    @Justificacion NVARCHAR(255),
    @MontoTotal DECIMAL(10,2)
AS
BEGIN
    INSERT INTO SolicitudesViaticos (UsuarioId, Justificacion, Estado, MontoTotal)
    VALUES (@UsuarioId, @Justificacion, 'Pendiente', @MontoTotal);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DevuelveTabla]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DevuelveTabla]
  @p_Id VARCHAR(20)
AS
BEGIN
    
SELECT [DescDetalle]
	  ,[DiasSiNo]
      ,[Monto]
  FROM [SISTEMA_VIATICOS].[dbo].[DetalleViaticos]
  WHERE SolicitudId = @p_Id


END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DevuelveTabla2]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DevuelveTabla2]
  @p_Id VARCHAR(20)
AS
BEGIN
    
	SELECT [LiquidacionId]  ,[DescDetalle]  ,[DiasSiNo]  ,[Monto]
  FROM [SISTEMA_VIATICOS].[dbo].[DetalleLiquidacion]
   WHERE [LiquidacionId] = @p_Id;




END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertCat]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertCat]
@p_tipoZ NVARCHAR(80),
@p_valA NVARCHAR(80),
@p_valB NVARCHAR(80),
@p_valC NVARCHAR(80),

@p_Respuesta NVARCHAR(80) OUTPUT

AS
BEGIN    

	SET @p_Respuesta=0;

  INSERT INTO [SISTEMA_VIATICOS].[dbo].[CategoriaZona]([TipoZona] ,[ValorA],[ValorB],[ValorC])
  VALUES (@p_tipoZ, @p_valA, @p_valB, @p_valC);

  SET @p_Respuesta=1;

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertEmp]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertEmp]
    @p_E VARCHAR(20),
    @p_nomE VARCHAR(255),
	@p_dni VARCHAR(80),
	@p_numCta VARCHAR(50),
	@p_puestoE VARCHAR(50),
	@p_cate INT,
	@p_depto VARCHAR(50),

    @p_Respuesta VARCHAR(100) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

		-- Definir una consulta para verificar si el usuario ya existe en la tabla RQMUSER
		DECLARE @UsuarioExistente INT;
		SET @UsuarioExistente = 0;

		SELECT @UsuarioExistente = COUNT(*)
		FROM [dbo].[EmpleadosBnd]
		WHERE [CODIGO_EMPLEADO] = @p_E; -- Aquí debes especificar el campo que estás verificando, en este caso, el usuario

		-- Verificar el resultado de la consulta
		IF @UsuarioExistente > 0
		BEGIN
		-- El usuario ya existe en la tabla, puedes manejarlo aquí (por ejemplo, lanzar una excepción)
			SET @p_Respuesta = '0';
		END
		ELSE
		BEGIN


				INSERT INTO [dbo].[EmpleadosBnd]
						   ([CODIGO_EMPLEADO]
						   ,[NOMBRE_EMPLEADO]
						   ,[CEDULA]
						   ,[ESTADO]
						   ,[NUMERO_CUENTA]
						   ,[FECHA_INGRESO]
						   ,[COD_AREA]
						   ,[COD_PUESTO]
						   ,[CATEGORIA]
						   ,[DESCRIPCION_PUESTO]
						   ,[DESCRIPCION_DEPARTAMENTO])
					 VALUES
						   (@p_E
						   ,@p_nomE
						   ,@p_dni
						   ,'A'
						   ,@p_numCta
						   ,GETDATE()
						   ,0.0
						   ,0.0
						   ,@p_cate
						   ,@p_puestoE
						   ,@p_depto)
							-- Establecer el valor de @p_Respuesta indicando que la inserción fue exitosa
							SET @p_Respuesta = '1';
		END

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertLiquidacion]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertLiquidacion]
@p_numCta NVARCHAR(80),
@p_numSol NVARCHAR(80),
@p_idCategoriaLbl NVARCHAR(80),
@p_Lblusuario NVARCHAR(80),
@p_CodE NVARCHAR(10),
@p_flname NVARCHAR(80),
@p_ddZona1 NVARCHAR(80),
@p_ddZona2 NVARCHAR(80),
@p_ddZona3 NVARCHAR(80),
@p_puestoE NVARCHAR(80),
@p_ddDepto NVARCHAR(80),
@p_datetimePicker NVARCHAR(80),
@p_datetimePicker2 NVARCHAR(80),
@p_valZ1 NVARCHAR(80),
@p_valZ2 NVARCHAR(80),
@p_valZ3 NVARCHAR(80),
@p_valZ4 NVARCHAR(80),
@p_tiempo1 NVARCHAR(80),
@p_tiempo2 NVARCHAR(80),
@p_tiempo3 NVARCHAR(80),
@p_tiempo4 NVARCHAR(80),
@p_TotalvalZ1 NVARCHAR(80),
@p_TotalvalZ2 NVARCHAR(80),
@p_TotalvalZ3 NVARCHAR(80),
@p_TotalvalZ4 NVARCHAR(80),
@p_Number1 NVARCHAR(80),
@p_peajesTxt NVARCHAR(80),
@p_depreciaTxt NVARCHAR(80),
@p_lubComb NVARCHAR(80),
@p_totalAsignado NVARCHAR(80),
@p_totalGastos NVARCHAR(80),
@p_txtDiff NVARCHAR(80),
@p_propositoTxt NVARCHAR(80),
@p_Text1 NVARCHAR(80),
@p_transpIU NVARCHAR(80),
@p_ddTipoTransp NVARCHAR(2),
@p_ddDiff NVARCHAR(2),

@p_Respuesta NVARCHAR(80) OUTPUT

AS
BEGIN    

	SET @p_Respuesta=0;

	DECLARE @resultado DECIMAL(10,2);
	DECLARE @ULT_REG INT;

	SET @resultado =
        ISNULL(TRY_CAST(@p_tiempo1 AS DECIMAL(10,2)), 0) +
        ISNULL(TRY_CAST(@p_tiempo2 AS DECIMAL(10,2)), 0) +
        ISNULL(TRY_CAST(@p_tiempo3 AS DECIMAL(10,2)), 0) +
		ISNULL(TRY_CAST(@p_tiempo4 AS DECIMAL(10,2)), 0);



INSERT INTO [dbo].[LiquidacionGastos] ([IdSolicitud],[UsuarioId] ,[CodE] ,[NumCta] ,[FechaSolicitud],[NombreSol],[Categoria]
           ,[DescPuesto],[Depto] ,[Destino1] ,[Destino2],[Destino3],[EstadoSol] ,[Proposito],[MontoTotal],[MontoAsignado] ,[MontoDiferencia],[FechaInicio],[FechaFin]
           ,[CantDias],[TipoTransporte],[DiferenciaAFavor],[Observaciones])
     VALUES (@p_numSol, @p_Lblusuario, @p_CodE,@p_numCta, GETDATE(), @p_flname, @p_idCategoriaLbl, @p_puestoE, @p_ddDepto,
	 @p_ddZona1,@p_ddZona2,@p_ddZona3, 1, @p_propositoTxt,@p_totalGastos, @p_totalAsignado,@p_txtDiff, @p_datetimePicker, @p_datetimePicker2, @resultado, @p_ddTipoTransp, @p_ddDiff,@p_Text1)

--INSERT INTO [dbo].[SolicitudesViat]   ([UsuarioId]  ,[CodE] ,[NumCta]  ,[FechaSolicitud]  ,[NombreSol]   ,[Categoria]   ,[DescPuesto]    ,[Depto]    ,[Destino]  ,[EstadoSol]   ,[Proposito]
--           ,[MontoTotal] ,[FechaInicio] ,[FechaFin] ,[CantDias]  ,[Observaciones])
--     VALUES(@p_Lblusuario, @p_CodE,@p_numCta, GETDATE(), @p_flname, @p_idCategoriaLbl, @p_puestoE, @p_ddDepto, @p_ddCate, 1, @p_propositoTxt, @p_totalAsignado, @p_datetimePicker, @p_datetimePicker2, @resultado,@p_Text1 );


	 
SELECT TOP 1 @ULT_REG = ID  FROM [dbo].[LiquidacionGastos]  
ORDER BY ID DESC;

IF(@ULT_REG > 0)
BEGIN


		INSERT INTO [dbo].[DetalleLiquidacion]  ([LiquidacionId] ,[DescDetalle] ,[DiasSiNo]  ,[Monto])
        VALUES  (@ULT_REG, @p_valZ1 ,ISNULL(TRY_CAST(@p_tiempo1 AS DECIMAL(10,2)), 0), ISNULL(TRY_CAST(@p_TotalvalZ1 AS DECIMAL(10,2)), 0)),
		(@ULT_REG,  @p_valZ2 ,ISNULL(TRY_CAST(@p_tiempo2 AS DECIMAL(10,2)), 0), ISNULL(TRY_CAST(@p_TotalvalZ2 AS DECIMAL(10,2)), 0)),
		(@ULT_REG, @p_valZ3 ,ISNULL(TRY_CAST(@p_tiempo3 AS DECIMAL(10,2)), 0), ISNULL(TRY_CAST(@p_TotalvalZ3 AS DECIMAL(10,2)), 0)),
		(@ULT_REG, @p_valZ4 ,ISNULL(TRY_CAST(@p_tiempo4 AS DECIMAL(10,2)), 0), ISNULL(TRY_CAST(@p_TotalvalZ4 AS DECIMAL(10,2)), 0)),
		(@ULT_REG, 'TIU',0, ISNULL(TRY_CAST(@p_transpIU AS DECIMAL(10,2)), 0)),
		(@ULT_REG, 'TU',0, ISNULL(TRY_CAST(@p_Number1 AS DECIMAL(10,2)), 0)),
		(@ULT_REG, 'P',0, ISNULL(TRY_CAST(@p_peajesTxt AS DECIMAL(10,2)), 0)),
		(@ULT_REG, 'DV',0, ISNULL(TRY_CAST(@p_depreciaTxt AS DECIMAL(10,2)), 0)),
		(@ULT_REG, 'LC',0, ISNULL(TRY_CAST(@p_lubComb AS DECIMAL(10,2)), 0));


		--   INSERT INTO [dbo].[DetalleViaticos] 
  --      ([SolicitudId],[DescDetalle], [DiasSiNo], [Monto])
  --  VALUES 
  --      (@ULT_REG, @p_valZ1 ,ISNULL(TRY_CAST(@p_tiempo1 AS DECIMAL(10,2)), 0), ISNULL(TRY_CAST(@p_TotalvalZ1 AS DECIMAL(10,2)), 0)),
		--(@ULT_REG,  @p_valZ2 ,ISNULL(TRY_CAST(@p_tiempo2 AS DECIMAL(10,2)), 0), ISNULL(TRY_CAST(@p_TotalvalZ2 AS DECIMAL(10,2)), 0)),
		--(@ULT_REG, @p_valZ3 ,ISNULL(TRY_CAST(@p_tiempo3 AS DECIMAL(10,2)), 0), ISNULL(TRY_CAST(@p_TotalvalZ3 AS DECIMAL(10,2)), 0)),
		--(@ULT_REG, 'TranspInterUrb',0, ISNULL(TRY_CAST(@p_Number1 AS DECIMAL(10,2)), 0)),
		--(@ULT_REG, 'Peajes',0, ISNULL(TRY_CAST(@p_peajesTxt AS DECIMAL(10,2)), 0)),
		--(@ULT_REG, 'DepreciacionVeh',0, ISNULL(TRY_CAST(@p_depreciaTxt AS DECIMAL(10,2)), 0));
			   
	SET @p_Respuesta=1;
END;

  

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertLog]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertLog]
    @p_U VARCHAR(20),
	@p_desc VARCHAR(150),
    @p_Respuesta VARCHAR(1) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
	SET @p_Respuesta = '0';
		
		INSERT INTO [dbo].[HstLog]
           ([UsuId]
           ,[Fecha]
           ,[Descripcion])
		VALUES
           (@p_U
           ,GETDATE()
           ,@p_desc )

	SET @p_Respuesta = '1';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertSolicitud]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertSolicitud]
@p_numCta NVARCHAR(80),
@p_idCategoriaLbl NVARCHAR(80),
@p_Lblusuario NVARCHAR(80),
@p_CodE NVARCHAR(10),
@p_flname NVARCHAR(80),
@p_ddZ1 NVARCHAR(80),
@p_ddZ2 NVARCHAR(80),
@p_ddZ3 NVARCHAR(80),
@p_puestoE NVARCHAR(80),
@p_ddDepto NVARCHAR(80),
@p_TipoTransp NVARCHAR(80),
@p_datetimePicker NVARCHAR(80),
@p_datetimePicker2 NVARCHAR(80),
@p_valZ1 NVARCHAR(80),
@p_valZ2 NVARCHAR(80),
@p_valZ3 NVARCHAR(80),
@p_valZ4 NVARCHAR(80),
@p_tiempo1 NVARCHAR(80),
@p_tiempo2 NVARCHAR(80),
@p_tiempo3 NVARCHAR(80),
@p_tiempo4 NVARCHAR(80),
@p_TotalvalZ1 NVARCHAR(80),
@p_TotalvalZ2 NVARCHAR(80),
@p_TotalvalZ3 NVARCHAR(80),
@p_TotalvalZ4 NVARCHAR(80),
@p_Number1 NVARCHAR(80),
@p_peajesTxt NVARCHAR(80),
@p_depreciaTxt NVARCHAR(80),
@p_LubComb NVARCHAR(80),
@p_totalAsignado NVARCHAR(80),
@p_propositoTxt NVARCHAR(80),
@p_Text1 NVARCHAR(80),
@p_transpIU NVARCHAR(80),

@p_Respuesta NVARCHAR(80) OUTPUT,
@p_NuevaSolicitudID INT OUTPUT
AS
BEGIN    

	SET @p_Respuesta=0;

	DECLARE @resultado DECIMAL(10,2);
	DECLARE @ULT_REG INT;

	SET @resultado =
        ISNULL(TRY_CAST(@p_tiempo1 AS DECIMAL(10,2)), 0) +
        ISNULL(TRY_CAST(@p_tiempo2 AS DECIMAL(10,2)), 0) +
        ISNULL(TRY_CAST(@p_tiempo3 AS DECIMAL(10,2)), 0) +
		ISNULL(TRY_CAST(@p_tiempo4 AS DECIMAL(10,2)), 0);


INSERT INTO [dbo].[SolicitudesViat]   ([UsuarioId]  ,[CodE] ,[NumCta]  ,[FechaSolicitud]  ,[NombreSol]   ,[Categoria]   ,[DescPuesto]    ,[Depto]    ,[Destino1] ,[Destino2] ,[Destino3]  ,[EstadoSol], [TipoTransp]  ,[Proposito]
           ,[MontoTotal] ,[FechaInicio] ,[FechaFin] ,[CantDias]  ,[Observaciones])
     VALUES(@p_Lblusuario, @p_CodE,@p_numCta, GETDATE(), @p_flname, @p_idCategoriaLbl, @p_puestoE, @p_ddDepto, @p_ddZ1, @p_ddZ2, @p_ddZ3, 1, @p_TipoTransp, @p_propositoTxt, @p_totalAsignado, @p_datetimePicker, @p_datetimePicker2, @resultado,@p_Text1 );


	 
SELECT TOP 1 @ULT_REG = ID  FROM [dbo].[SolicitudesViat] 
ORDER BY ID DESC;

IF(@ULT_REG > 0)
BEGIN

		   INSERT INTO [dbo].[DetalleViaticos] 
        ([SolicitudId],[DescDetalle], [DiasSiNo], [Monto])
    VALUES 
        (@ULT_REG, @p_valZ1 ,ISNULL(TRY_CAST(@p_tiempo1 AS DECIMAL(10,2)), 0), ISNULL(TRY_CAST(@p_TotalvalZ1 AS DECIMAL(10,2)), 0)),
		(@ULT_REG, @p_valZ2 ,ISNULL(TRY_CAST(@p_tiempo2 AS DECIMAL(10,2)), 0), ISNULL(TRY_CAST(@p_TotalvalZ2 AS DECIMAL(10,2)), 0)),
		(@ULT_REG, @p_valZ3 ,ISNULL(TRY_CAST(@p_tiempo3 AS DECIMAL(10,2)), 0), ISNULL(TRY_CAST(@p_TotalvalZ3 AS DECIMAL(10,2)), 0)),
		(@ULT_REG, @p_valZ4 ,ISNULL(TRY_CAST(@p_tiempo4 AS DECIMAL(10,2)), 0), ISNULL(TRY_CAST(@p_TotalvalZ4 AS DECIMAL(10,2)), 0)),
		(@ULT_REG, 'TIU',0, ISNULL(TRY_CAST(@p_transpIU AS DECIMAL(10,2)), 0)),
		(@ULT_REG, 'TUT',0, ISNULL(TRY_CAST(@p_Number1 AS DECIMAL(10,2)), 0)),
		(@ULT_REG, 'P',0, ISNULL(TRY_CAST(@p_peajesTxt AS DECIMAL(10,2)), 0)),
		(@ULT_REG, 'DV',0, ISNULL(TRY_CAST(@p_depreciaTxt AS DECIMAL(10,2)), 0)),
		(@ULT_REG, 'LC',0, ISNULL(TRY_CAST(@p_LubComb AS DECIMAL(10,2)), 0));


	IF (@ULT_REG > 0)
    BEGIN
        -- Insertar detalle...
        SET @p_Respuesta = 1;
        SET @p_NuevaSolicitudID = @ULT_REG; -- Aquí asignas el nuevo ID
    END
	--SET @p_Respuesta=1;
END;

  

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUsu]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertUsu]
    @p_U VARCHAR(20),
    @p_pass VARCHAR(255),
	@p_fln VARCHAR(80),
	@p_corr VARCHAR(50),
	@p_depto VARCHAR(50),
	@p_rolId VARCHAR(2),

    @p_Respuesta VARCHAR(100) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

			-- Definir una consulta para verificar si el usuario ya existe en la tabla RQMUSER
		DECLARE @UsuarioExistente INT;
		SET @UsuarioExistente = 0;

		SELECT @UsuarioExistente = COUNT(*)
		FROM [dbo].[UsrVtcs]
		WHERE [USUN] = @p_U; -- Aquí debes especificar el campo que estás verificando, en este caso, el usuario

		-- Verificar el resultado de la consulta
		IF @UsuarioExistente > 0
		BEGIN
			-- El usuario ya existe en la tabla, puedes manejarlo aquí (por ejemplo, lanzar una excepción)
			SET @p_Respuesta = '0';
		END
		ELSE
		BEGIN

			DECLARE @Type VARCHAR(2);

			SELECT @Type = [Id] FROM [dbo].[Roles] WHERE [Acron] = @p_rolId;


			INSERT INTO [dbo].[UsrVtcs]
           ([USUN] ,[USUP] ,[USUCN] ,[USUE]  ,[USCREATE]  ,[USTYPE]  ,[USDEPTO]  ,[USEMAIL]  ,[RolId])
			VALUES (@p_U, HASHBYTES('SHA2_256', @p_pass) , @p_fln, 'A', GETDATE(),@p_rolId , @p_depto, @p_corr,@Type  )

			-- Establecer el valor de @p_Respuesta indicando que la inserción fue exitosa
			SET @p_Respuesta = '1';
		END

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertZon]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertZon]
@TipZon INT,
@NomZon NVARCHAR(80),
@p_Respuesta VARCHAR(100) OUTPUT 


AS
BEGIN
    
  SET @p_Respuesta = '0';

  INSERT INTO [SISTEMA_VIATICOS].[dbo].[ZONAS]([TipoZona] ,[Descripcion])
  VALUES (@TipZon, @NomZon);
  SET @p_Respuesta = '1';

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_LlenaDD]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LlenaDD] 

AS

BEGIN
    SET NOCOUNT ON;
    

	SELECT [IdEstadoSol] #Id,[DescEstadoSol] Descripcion FROM [SISTEMA_VIATICOS].[dbo].[EstadoSolicitudes]


	--	SELECT [IdDepto] IDDepto ,[DescDepto] Descripcion FROM [dbo].[DeptoBnd]

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_LlenaDDCat]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LlenaDDCat]
AS
BEGIN
    
SELECT [Id] AS Id
      ,[TipoCategoria] AS TipoC
  FROM [SISTEMA_VIATICOS].[dbo].[CategoriaEmpleado]



END;
GO
/****** Object:  StoredProcedure [dbo].[sp_LlenaDDCate]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LlenaDDCate]
@id NVARCHAR(8),
@UsuarioId NVARCHAR(20),
@_numCta NVARCHAR(20),
@p_Respuesta1 nvarchar(20) OUTPUT,
@p_Respuesta2 nvarchar(20) OUTPUT,
@p_Respuesta3 nvarchar(20) OUTPUT,
@p_Respuesta4 nvarchar(80) OUTPUT,
@p_Respuesta5 nvarchar(80) OUTPUT,
@p_Respuesta6 nvarchar(80) OUTPUT,
@p_Respuesta7 nvarchar(20) OUTPUT,
@p_Respuesta8 nvarchar(20) OUTPUT,
@p_Respuesta9 nvarchar(20) OUTPUT
--,
--@p_Respuesta10 nvarchar(20) OUTPUT,
--@p_Respuesta11 nvarchar(20) OUTPUT,
--@p_Respuesta12 nvarchar(20) OUTPUT,
--@p_Respuesta13 nvarchar(20) OUTPUT,
--@p_Respuesta14 nvarchar(200) OUTPUT,
--@p_Respuesta15 nvarchar(20) OUTPUT,
--@p_Respuesta16 nvarchar(20) OUTPUT,
--@p_Respuesta17 nvarchar(20) OUTPUT,
--@p_Respuesta18 nvarchar(20) OUTPUT,
--@p_Respuesta19 nvarchar(20) OUTPUT
AS
BEGIN
    


--	SELECT @p_Respuesta8 = CodE ,@_numCta = NumCta,@p_Respuesta4 = [NombreSol] ,@p_Respuesta7= [Categoria],@p_Respuesta5 = [DescPuesto],@p_Respuesta6 = [Depto],
--	@p_Respuesta10 = [Destino1],@p_Respuesta11 = [Destino2],@p_Respuesta12 = [Destino3] , @p_Respuesta13 = [EstadoSol]
--,@p_Respuesta14 = [Proposito] ,@p_Respuesta15 = [MontoTotal],@p_Respuesta16 = [FechaInicio] , @p_Respuesta17 = [FechaFin], @p_Respuesta18=[CantDias], @p_Respuesta19 = [Observaciones]
--  FROM [SISTEMA_VIATICOS].[dbo].[SolicitudesViat]
--  WHERE [Id] = @id AND [EstadoSol] IN (1,2,3) AND [UsuarioId] = @UsuarioId


SELECT @p_Respuesta1 = [ValorA]      ,@p_Respuesta2 = [ValorB]      ,@p_Respuesta3 = [ValorC]
      ,@p_Respuesta4 = B.[NOMBRE_EMPLEADO]  ,@p_Respuesta5 = B.[DESCRIPCION_PUESTO]
	  ,@p_Respuesta6 = B.[DESCRIPCION_DEPARTAMENTO] ,@p_Respuesta7 = B.[CATEGORIA] ,@p_Respuesta8 = B.[NUMERO_CUENTA],@p_Respuesta9 = B.[CODIGO_EMPLEADO]
  FROM [SISTEMA_VIATICOS].[dbo].[CategoriaZona] AS A
  INNER JOIN [SISTEMA_VIATICOS].[dbo].[EmpleadosBnd]  AS B ON A.Id = B.[CATEGORIA]
  WHERE B.CODIGO_EMPLEADO = @ID OR B.NUMERO_CUENTA = @_numCta;

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_LlenaDDZon]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LlenaDDZon]
AS
BEGIN
    
  SELECT [ID_ZONA] #Id
      ,Concat([TipoZona] ,'-', [Descripcion]) Descripcion
  FROM [SISTEMA_VIATICOS].[dbo].[ZONAS]
    WHERE [TipoZona] =1

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_LlenaDDZon2]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LlenaDDZon2]
AS
BEGIN
    
  SELECT [ID_ZONA] #Id
      ,Concat([TipoZona] ,'-', [Descripcion]) Descripcion
  FROM [SISTEMA_VIATICOS].[dbo].[ZONAS]
    WHERE [TipoZona] =2

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_LlenaDDZon3]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LlenaDDZon3]
AS
BEGIN
    
  SELECT [ID_ZONA] #Id
      ,Concat([TipoZona] ,'-', [Descripcion]) Descripcion
  FROM [SISTEMA_VIATICOS].[dbo].[ZONAS]
    WHERE [TipoZona] =3

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_LlenaDepto]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LlenaDepto] 

AS

BEGIN
    SET NOCOUNT ON;
    
		SELECT [IdDepto] IDDepto ,[DescDepto] Descripcion FROM [dbo].[DeptoBnd]

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_LlenaDiff]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LlenaDiff] 

AS

BEGIN
    SET NOCOUNT ON;
    
		SELECT [Id] IdDiff ,[Descripcion] Descripcion FROM [SISTEMA_VIATICOS].[dbo].[DiferenciaAFavor]
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_LlenaGv]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LlenaGv]
  @p_U VARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Departamentos TABLE (DeptoId INT);

    -- Insertar departamento principal del usuario
    INSERT INTO @Departamentos (DeptoId)
    SELECT USDEPTO
    FROM [SISTEMA_VIATICOS].[dbo].[UsrVtcs]
    WHERE USUN = @p_U;

    -- Insertar departamentos adicionales del usuario
    INSERT INTO @Departamentos (DeptoId)
    SELECT IdDepto
    FROM [SISTEMA_VIATICOS].[dbo].[UsuarioDepartamentos]
    WHERE USUN = @p_U;

    -- Eliminar duplicados (opcional si ya manejado por PK)
    -- SELECT DISTINCT * FROM @Departamentos

    -- Devolver solicitudes de viáticos por departamentos del usuario
    SELECT 
        SV.[Id] AS Id,
        RIGHT('0000' + CAST(SV.[Id] AS VARCHAR), 4) AS IdSolicitud,
        SV.[UsuarioId],
        SV.CodE AS NumEmpleado,
        SV.NumCta AS CtaEmpleado,
        SV.[FechaSolicitud],
        SV.[NombreSol],
        SV.[Categoria],
        SV.[DescPuesto],
        SV.[Depto],
        SV.[Destino1],
        SV.[Destino2],
        SV.[Destino3],
        CASE 
            WHEN SV.[EstadoSol] = 1 THEN 'CREADO'
            WHEN SV.[EstadoSol] = 2 THEN 'EN ESPERA'
            WHEN SV.[EstadoSol] = 3 THEN 'RECHAZADO'
        END AS EstadoSolicitud,
        SV.[Proposito],
        SV.[MontoTotal],
        SV.[FechaInicio],
        SV.[FechaFin],
        SV.[TipoTransp],
        SV.[CantDias],
        SV.[Observaciones]
    FROM [SISTEMA_VIATICOS].[dbo].[SolicitudesViat] SV
    WHERE 
        SV.[Depto] IN (SELECT DeptoId FROM @Departamentos)
        AND SV.[EstadoSol] IN (1, 2, 3);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_LlenaGvCat]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LlenaGvCat]
AS
BEGIN
    
SELECT [Id] #Id
      ,[TipoZona] Zona
      ,[ValorA] ValorA
      ,[ValorB] ValorB
      ,[ValorC] ValorC
  FROM [SISTEMA_VIATICOS].[dbo].[CategoriaZona]



END;
GO
/****** Object:  StoredProcedure [dbo].[sp_LlenaGvEmp]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LlenaGvEmp]
AS
BEGIN
    
SELECT [CODIGO_EMPLEADO] #Empleado
      ,[NOMBRE_EMPLEADO]
      ,[CEDULA]
      ,CASE WHEN [Estado] = 'A' THEN 'ACTIVO' ELSE 'INACTIVO' END EstadoE
      ,[NUMERO_CUENTA]
      ,[CATEGORIA]
      ,[DESCRIPCION_PUESTO]
      ,[DESCRIPCION_DEPARTAMENTO]
  FROM [SISTEMA_VIATICOS].[dbo].[EmpleadosBnd]
  WHERE Estado='A'

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_LlenaGvL]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LlenaGvL]
  @p_U VARCHAR(20)
AS
BEGIN
    




	DECLARE @Departamentos TABLE (DeptoId INT);

	-- Insertar departamentos para el usuario
	INSERT INTO @Departamentos (DeptoId)
	SELECT DISTINCT USDEPTO
	FROM [SISTEMA_VIATICOS].[dbo].[UsrVtcs]
	WHERE USUN = @p_U;
	
	SELECT 
		LG.[Id],RIGHT('0000' + CAST(IdSolicitud AS VARCHAR), 4) AS IdSolicitud, LG.[UsuarioId], LG.CodE AS NumEmpleado, LG.NumCta AS CtaEmpleado,
		LG.[FechaSolicitud], LG.[NombreSol], LG.[Categoria], LG.[DescPuesto], LG.[Depto], LG.[Destino1], LG.[Destino2], LG.[Destino3],
		CASE 
			WHEN LG.[EstadoSol] = 1 THEN 'CREADO'
			WHEN LG.[EstadoSol] = 2 THEN 'EN ESPERA'
			WHEN LG.[EstadoSol] = 3 THEN 'RECHAZADO'
		END AS EstadoSolicitud, LG.[TipoTransporte],MontoAsignado, MontoDiferencia ,
		LG.[Proposito], LG.[MontoTotal], LG.[FechaInicio], LG.[FechaFin],LG.[CantDias], LG.[Observaciones],	LG.[TipoTransporte], LG.[DiferenciaAFavor],	'Liquidacion' AS TipoOrigen
	FROM [SISTEMA_VIATICOS].[dbo].[LiquidacionGastos] LG
	WHERE LG.[Depto] IN (SELECT DeptoId FROM @Departamentos)
		AND LG.[EstadoSol] IN (1, 2, 3);



	--DECLARE @Depto INT;
	--SET @Depto =0;
	--SELECT @Depto = [USDEPTO] FROM [SISTEMA_VIATICOS].[dbo].[UsrVtcs] WHERE [USUN] = @p_U;


	--IF(@Depto>0)
	--BEGIN

	--		  SELECT [Id],[UsuarioId],CodE AS NumEmpleado,NumCta AS CtaEmpleado,  [FechaSolicitud],[NombreSol] ,[Categoria],[DescPuesto],[Depto],[Destino]   
	--	,CASE WHEN [EstadoSol] = 1 THEN 'CREADO'
	--		  WHEN [EstadoSol] = 2 THEN 'EN ESPERA'
	--		  WHEN [EstadoSol] = 3 THEN 'RECHAZADO' END EstadoSolicitud
	--	,[Proposito]  ,[MontoTotal]   ,[FechaInicio]   ,[FechaFin]  ,[CantDias]   ,[Observaciones], [TipoTransporte],[DiferenciaAFavor]
	--	  FROM [SISTEMA_VIATICOS].[dbo].[LiquidacionGastos]
	--	    WHERE [Depto] = @Depto AND [EstadoSol] IN (1,2,3)

	--END


END;
GO
/****** Object:  StoredProcedure [dbo].[sp_LlenaGvLiq]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LlenaGvLiq]
  @p_U VARCHAR(20)
AS
BEGIN
    
SELECT [Id],RIGHT('0000' + CAST(IdSolicitud AS VARCHAR), 4) AS IdSolicitud,[UsuarioId],CodE AS NumEmpleado,NumCta AS CtaEmpleado,  [FechaSolicitud],[NombreSol] ,[Categoria],[DescPuesto],[Depto],[Destino1],[Destino2],[Destino3]       
,CASE WHEN [EstadoSol] = 1 THEN 'CREADO'
	  WHEN [EstadoSol] = 2 THEN 'EN ESPERA'
	  WHEN [EstadoSol] = 3 THEN 'RECHAZADO' END EstadoSolicitud
,[Proposito] , MontoTotal,MontoAsignado, MontoDiferencia  ,[FechaInicio]   ,[FechaFin]  ,[CantDias]   ,[Observaciones], [TipoTransporte],[DiferenciaAFavor]
  FROM [SISTEMA_VIATICOS].[dbo].[LiquidacionGastos]
  WHERE [UsuarioId] = @p_U AND [EstadoSol] IN (1,2,3)


END;
GO
/****** Object:  StoredProcedure [dbo].[sp_LlenaGvLiqAdmon]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LlenaGvLiqAdmon]
  @p_U VARCHAR(20)
AS
BEGIN
    
	DECLARE @Depto INT;
	SET @Depto =0;
	SELECT @Depto = [USDEPTO] FROM [SISTEMA_VIATICOS].[dbo].[UsrVtcs] WHERE [USUN] = @p_U;
	   

			  SELECT [Id],RIGHT('0000' + CAST(IdSolicitud AS VARCHAR), 4) AS IdSolicitud,[UsuarioId],[UsuarioIdG1],CodE AS NumEmpleado,NumCta AS CtaEmpleado,  [FechaSolicitud],[NombreSol] ,[Categoria],[DescPuesto],[Depto],[Destino1] ,[Destino2] ,[Destino3]   
		,CASE WHEN [EstadoSol] = 1 THEN 'CREADO'
			  WHEN [EstadoSol] = 2 THEN 'EN ESPERA'
			  WHEN [EstadoSol] = 6 THEN 'EN ADMON'
			  WHEN [EstadoSol] = 3 THEN 'RECHAZADO' END EstadoSolicitud
		,[Proposito]  , MontoTotal,MontoAsignado, MontoDiferencia  ,[FechaInicio]   ,[FechaFin]  ,[CantDias]   ,[Observaciones], [TipoTransporte],[DiferenciaAFavor]
		  FROM [SISTEMA_VIATICOS].[dbo].[LiquidacionGastos]
		    WHERE  [EstadoSol] IN (6)



END;
GO
/****** Object:  StoredProcedure [dbo].[sp_LlenaGvLiqOperaciones]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LlenaGvLiqOperaciones]
  @p_U VARCHAR(20)
AS
BEGIN
    
	DECLARE @Depto INT;
	SET @Depto =0;
	SELECT @Depto = [USDEPTO] FROM [SISTEMA_VIATICOS].[dbo].[UsrVtcs] WHERE [USUN] = @p_U;
	   

		SELECT [Id],RIGHT('0000' + CAST(IdSolicitud AS VARCHAR), 4) AS IdSolicitud,[UsuarioId],[UsuarioIdG1],UsuarioIdR2,CodE AS NumEmpleado,NumCta AS CtaEmpleado,  [FechaSolicitud],[NombreSol] ,[Categoria],[DescPuesto],[Depto],[Destino1] ,[Destino2] ,[Destino3]   
		,CASE WHEN [EstadoSol] = 1 THEN 'CREADO'
			  WHEN [EstadoSol] = 2 THEN 'EN ESPERA'
			  WHEN [EstadoSol] = 4 THEN 'EN PAGADURIA'
			  WHEN [EstadoSol] = 5 THEN 'EN PRESUPUESTO'
			  WHEN [EstadoSol] = 6 THEN 'EN ADMINISTRACION'
			  WHEN [EstadoSol] = 7 THEN 'EN OPERACIONES'
			  WHEN [EstadoSol] = 3 THEN 'RECHAZADO' END EstadoSolicitud
				,[Proposito]  , MontoTotal,MontoAsignado, MontoDiferencia  ,[FechaInicio]   ,[FechaFin]  ,[CantDias]   ,[Observaciones], [TipoTransporte],[DiferenciaAFavor]
		  FROM [SISTEMA_VIATICOS].[dbo].[LiquidacionGastos]
		    WHERE  [EstadoSol] IN (7)



END;
GO
/****** Object:  StoredProcedure [dbo].[sp_LlenaGvLiqPag]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LlenaGvLiqPag]
  @p_U VARCHAR(20)
AS
BEGIN
    
	DECLARE @Depto INT;
	SET @Depto =0;
	SELECT @Depto = [USDEPTO] FROM [SISTEMA_VIATICOS].[dbo].[UsrVtcs] WHERE [USUN] = @p_U;

			  SELECT [Id],RIGHT('0000' + CAST(IdSolicitud AS VARCHAR), 4) AS IdSolicitud,[UsuarioId],[UsuarioIdG1],CodE AS NumEmpleado,NumCta AS CtaEmpleado,  [FechaSolicitud],[NombreSol] ,[Categoria],[DescPuesto],[Depto],[Destino1] ,[Destino2] ,[Destino3]   
		,CASE WHEN [EstadoSol] = 1 THEN 'CREADO'
			  WHEN [EstadoSol] = 2 THEN 'EN ESPERA'
			  WHEN [EstadoSol] = 4 THEN 'EN PAGADURIA'
			  WHEN [EstadoSol] = 3 THEN 'RECHAZADO' END EstadoSolicitud
		,[Proposito]  , MontoTotal,MontoAsignado, MontoDiferencia  ,[FechaInicio]   ,[FechaFin]  ,[CantDias]   ,[Observaciones], [TipoTransporte],[DiferenciaAFavor]
		  FROM [SISTEMA_VIATICOS].[dbo].[LiquidacionGastos]
		    WHERE  [EstadoSol] IN (4)

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_LlenaGvLiqPresu]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LlenaGvLiqPresu]
  @p_U VARCHAR(20)
AS
BEGIN
    
	DECLARE @Depto INT;
	SET @Depto =0;
	SELECT @Depto = [USDEPTO] FROM [SISTEMA_VIATICOS].[dbo].[UsrVtcs] WHERE [USUN] = @p_U;
	   

			  	  SELECT [Id],RIGHT('0000' + CAST(IdSolicitud AS VARCHAR), 4) AS IdSolicitud,[UsuarioId],[UsuarioIdG1],CodE AS NumEmpleado,NumCta AS CtaEmpleado,  [FechaSolicitud],[NombreSol] ,[Categoria],[DescPuesto],[Depto],[Destino1] ,[Destino2] ,[Destino3]   
		,CASE WHEN [EstadoSol] = 1 THEN 'CREADO'
			  WHEN [EstadoSol] = 2 THEN 'EN ESPERA'
			  WHEN [EstadoSol] = 5 THEN 'EN PRESUPUESTO'
			  WHEN [EstadoSol] = 3 THEN 'RECHAZADO' END EstadoSolicitud
		,[Proposito]  , MontoTotal,MontoAsignado, MontoDiferencia  ,[FechaInicio]   ,[FechaFin]  ,[CantDias]   ,[Observaciones], [TipoTransporte],[DiferenciaAFavor]
		  FROM [SISTEMA_VIATICOS].[dbo].[LiquidacionGastos]
		    WHERE  [EstadoSol] IN (5)



END;
GO
/****** Object:  StoredProcedure [dbo].[sp_LlenaGvSol]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LlenaGvSol]
  @p_U VARCHAR(20)
AS
BEGIN
    
SELECT [Id],RIGHT('0000' + CAST([Id] AS VARCHAR), 4) AS IdSolicitud,[UsuarioId],CodE AS NumEmpleado,NumCta AS CtaEmpleado,  [FechaSolicitud],[NombreSol] ,[Categoria],[DescPuesto],[Depto],[Destino1],[Destino2],[Destino3]   
,CASE WHEN [EstadoSol] = 1 THEN 'CREADO'
	  WHEN [EstadoSol] = 2 THEN 'EN ESPERA'
	  WHEN [EstadoSol] = 3 THEN 'RECHAZADO' END EstadoSolicitud
,[Proposito]  ,[MontoTotal]   ,[FechaInicio]   ,[FechaFin]  ,[CantDias]   ,[Observaciones], [TipoTransp]
  FROM [SISTEMA_VIATICOS].[dbo].[SolicitudesViat]
  WHERE [UsuarioId] = @p_U AND [EstadoSol] IN (1,2,3)


END;
GO
/****** Object:  StoredProcedure [dbo].[sp_LlenaGvUsu]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LlenaGvUsu]
AS
BEGIN
    
	SELECT [USUN]  AS Usuario,[USUCN] AS Nombre ,D.DescEstado Estado ,[USCREATE] FechaCreacion,B.DescDepto Descripcion,[USEMAIL] Correo ,C.Nombre
  FROM [SISTEMA_VIATICOS].[dbo].[UsrVtcs] A
  INNER JOIN [SISTEMA_VIATICOS].[dbo].[DeptoBnd] B ON A.USDEPTO = B.IdDepto
  INNER JOIN [SISTEMA_VIATICOS].[dbo].[Roles] C ON A.RolId = C.Id
  INNER JOIN [SISTEMA_VIATICOS].[dbo].[Estado] D ON A.USUE = D.IdEstado


END;
GO
/****** Object:  StoredProcedure [dbo].[sp_LlenaGvViatAdmon]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LlenaGvViatAdmon]
  @p_U VARCHAR(20)
AS
BEGIN
    
	DECLARE @Depto INT;
	SET @Depto =0;
	SELECT @Depto = [USDEPTO] FROM [SISTEMA_VIATICOS].[dbo].[UsrVtcs] WHERE [USUN] = @p_U;



			  SELECT [Id],RIGHT('0000' + CAST([Id] AS VARCHAR), 4) AS IdSolicitud,[UsuarioId],[UsuarioIdG1],CodE AS NumEmpleado,NumCta AS CtaEmpleado,  [FechaSolicitud],[NombreSol] ,[Categoria],[DescPuesto],[Depto],[Destino1],[Destino2],[Destino3]   
		,CASE WHEN [EstadoSol] = 1 THEN 'CREADO'
			  WHEN [EstadoSol] = 2 THEN 'EN ESPERA'
			  WHEN [EstadoSol] = 6 THEN 'EN ADMON'
			  WHEN [EstadoSol] = 3 THEN 'RECHAZADO' END EstadoSolicitud
			  ,[Proposito]  ,[MontoTotal]   ,[FechaInicio]   ,[FechaFin]  ,[CantDias]   ,[Observaciones], [TipoTransp]
		  FROM [SISTEMA_VIATICOS].[dbo].[SolicitudesViat]
		    WHERE [EstadoSol] IN (6)




END;
GO
/****** Object:  StoredProcedure [dbo].[sp_LlenaGvViatOperaciones]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LlenaGvViatOperaciones]
  @p_U VARCHAR(20)
AS
BEGIN
    
	DECLARE @Depto INT;
	SET @Depto =0;
	SELECT @Depto = [USDEPTO] FROM [SISTEMA_VIATICOS].[dbo].[UsrVtcs] WHERE [USUN] = @p_U;



		SELECT [Id],RIGHT('0000' + CAST([Id] AS VARCHAR), 4) AS IdSolicitud,[UsuarioId],[UsuarioIdG1],[UsuarioIdR2],CodE AS NumEmpleado,NumCta AS CtaEmpleado,  [FechaSolicitud],[NombreSol] ,[Categoria],[DescPuesto],[Depto],[Destino1],[Destino2],[Destino3]
		,CASE WHEN [EstadoSol] = 1 THEN 'CREADO'
			  WHEN [EstadoSol] = 2 THEN 'EN ESPERA'
			  WHEN [EstadoSol] = 4 THEN 'EN PAGADURIA'
			  WHEN [EstadoSol] = 5 THEN 'EN PRESUPUESTO'
			  WHEN [EstadoSol] = 6 THEN 'EN ADMINISTRACION'
			  WHEN [EstadoSol] = 7 THEN 'EN OPERACIONES'
			  WHEN [EstadoSol] = 3 THEN 'RECHAZADO' END EstadoSolicitud
			,[Proposito]  ,[MontoTotal]   ,[FechaInicio]   ,[FechaFin]  ,[CantDias]   ,[Observaciones], [TipoTransp]
		  FROM [SISTEMA_VIATICOS].[dbo].[SolicitudesViat]
		    WHERE [EstadoSol] IN (7)




END;
GO
/****** Object:  StoredProcedure [dbo].[sp_LlenaGvViatPag]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LlenaGvViatPag]
  @p_U VARCHAR(20)
AS
BEGIN
    
	DECLARE @Depto INT;
	SET @Depto =0;
	SELECT @Depto = [USDEPTO] FROM [SISTEMA_VIATICOS].[dbo].[UsrVtcs] WHERE [USUN] = @p_U;
	

			  SELECT [Id],RIGHT('0000' + CAST([Id] AS VARCHAR), 4) AS IdSolicitud,[UsuarioId],[UsuarioIdG1],CodE AS NumEmpleado,NumCta AS CtaEmpleado,  [FechaSolicitud],[NombreSol] ,[Categoria],[DescPuesto],[Depto],[Destino1],[Destino2],[Destino3]   
		,CASE WHEN [EstadoSol] = 1 THEN 'CREADO'
			  WHEN [EstadoSol] = 2 THEN 'EN ESPERA'
			  WHEN [EstadoSol] = 4 THEN 'EN PAGADURIA'
			  WHEN [EstadoSol] = 3 THEN 'RECHAZADO' END EstadoSolicitud
			  ,[Proposito]  ,[MontoTotal]   ,[FechaInicio]   ,[FechaFin]  ,[CantDias]   ,[Observaciones], [TipoTransp]
		  FROM [SISTEMA_VIATICOS].[dbo].[SolicitudesViat]
		    WHERE [EstadoSol] IN (4)




END;
GO
/****** Object:  StoredProcedure [dbo].[sp_LlenaGvViatPresu]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LlenaGvViatPresu]
  @p_U VARCHAR(20)
AS
BEGIN
    
	DECLARE @Depto INT;
	SET @Depto =0;
	SELECT @Depto = [USDEPTO] FROM [SISTEMA_VIATICOS].[dbo].[UsrVtcs] WHERE [USUN] = @p_U;



		 SELECT [Id],RIGHT('0000' + CAST([Id] AS VARCHAR), 4) AS IdSolicitud,[UsuarioId],CodE AS NumEmpleado,NumCta AS CtaEmpleado,  [FechaSolicitud],[NombreSol] ,[Categoria],[DescPuesto],[Depto],[Destino1],[Destino2],[Destino3]  
		,CASE WHEN [EstadoSol] = 1 THEN 'CREADO'
			  WHEN [EstadoSol] = 2 THEN 'EN ESPERA'
			  WHEN [EstadoSol] = 4 THEN 'EN PAGADURIA'
			  WHEN [EstadoSol] = 5 THEN 'EN PRESUPUESTO'
			  WHEN [EstadoSol] = 3 THEN 'RECHAZADO' END EstadoSolicitud
		,[Proposito]  ,[MontoTotal]   ,[FechaInicio]   ,[FechaFin]  ,[CantDias]   ,[Observaciones] , [TipoTransp]
		  FROM [SISTEMA_VIATICOS].[dbo].[SolicitudesViat]
		    WHERE [EstadoSol] IN (5)




END;
GO
/****** Object:  StoredProcedure [dbo].[sp_LlenaGvZon]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LlenaGvZon]
AS
BEGIN
    
	SELECT [ID_ZONA] #Id
      ,[TipoZona] Categoria_Zona
      ,[Descripcion] Descripcion
  FROM [SISTEMA_VIATICOS].[dbo].[ZONAS]


END;
GO
/****** Object:  StoredProcedure [dbo].[sp_LlenaInfoViatEnLiq]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LlenaInfoViatEnLiq]
@id NVARCHAR(8),
@UsuarioId NVARCHAR(20),
@_numCta NVARCHAR(20) OUTPUT,
@p_Respuesta1 nvarchar(20) OUTPUT,
@p_Respuesta2 nvarchar(20) OUTPUT,
--@p_Respuesta3 nvarchar(20) OUTPUT,
@p_Respuesta4 nvarchar(80) OUTPUT,
@p_Respuesta5 nvarchar(80) OUTPUT,
@p_Respuesta6 nvarchar(80) OUTPUT,
@p_Respuesta7 nvarchar(20) OUTPUT,
@p_Respuesta8 nvarchar(20) OUTPUT,
@p_Respuesta9 nvarchar(20) OUTPUT,
@p_Respuesta10 nvarchar(20) OUTPUT,
@p_Respuesta11 nvarchar(20) OUTPUT,
@p_Respuesta12 nvarchar(20) OUTPUT,
@p_Respuesta13 nvarchar(20) OUTPUT,
@p_Respuesta14 nvarchar(200) OUTPUT,
@p_Respuesta15 nvarchar(20) OUTPUT,
@p_Respuesta16 nvarchar(20) OUTPUT,
@p_Respuesta17 nvarchar(20) OUTPUT,
@p_Respuesta18 nvarchar(20) OUTPUT,
@p_Respuesta19 nvarchar(20) OUTPUT
AS
BEGIN
    


	SELECT @p_Respuesta1 = UsuarioId, @p_Respuesta2 = [UsuarioIdG1], @p_Respuesta8 = CodE ,@_numCta = NumCta,@p_Respuesta4 = [NombreSol] ,@p_Respuesta7= [Categoria],@p_Respuesta5 = [DescPuesto],@p_Respuesta6 = [Depto],
	@p_Respuesta10 = [Destino1],@p_Respuesta11 = [Destino2],@p_Respuesta12 = [Destino3] , @p_Respuesta13 = [EstadoSol], @p_Respuesta9 = [TipoTransp] 
,@p_Respuesta14 = [Proposito] ,@p_Respuesta15 = [MontoTotal],@p_Respuesta16 = [FechaInicio] , @p_Respuesta17 = [FechaFin], @p_Respuesta18=[CantDias], @p_Respuesta19 = [Observaciones]
  FROM [SISTEMA_VIATICOS].[dbo].[SolicitudesViat]
  WHERE [Id] = @id AND  [UsuarioId] = @UsuarioId


--SELECT @p_Respuesta1 = [ValorA]      ,@p_Respuesta2 = [ValorB]      ,@p_Respuesta3 = [ValorC]
--      ,@p_Respuesta4 = B.[NOMBRE_EMPLEADO]  ,@p_Respuesta5 = B.[DESCRIPCION_PUESTO]
--	  ,@p_Respuesta6 = B.[DESCRIPCION_DEPARTAMENTO] ,@p_Respuesta7 = B.[CATEGORIA] ,@p_Respuesta8 = B.[NUMERO_CUENTA],@p_Respuesta9 = B.[CODIGO_EMPLEADO]
--  FROM [SISTEMA_VIATICOS].[dbo].[CategoriaZona] AS A
--  INNER JOIN [SISTEMA_VIATICOS].[dbo].[EmpleadosBnd]  AS B ON A.Id = B.[CATEGORIA]
--  WHERE B.CODIGO_EMPLEADO = @ID OR B.NUMERO_CUENTA = @_numCta;

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_LlenaRol]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LlenaRol] 

AS

BEGIN
    SET NOCOUNT ON;
    
		SELECT [Acron] AS Id ,[Nombre]  FROM [dbo].[Roles]
		ORDER BY ID ASC


END;
GO
/****** Object:  StoredProcedure [dbo].[sp_LlenaTipoTransp]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LlenaTipoTransp] 

AS

BEGIN
    SET NOCOUNT ON;
    
		
		SELECT [Id] IdTipoT ,[Descripcion] Descripcion FROM [SISTEMA_VIATICOS].[dbo].[TipoTransporte]


END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ModificaAprRec]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ModificaAprRec]
    @p_Id NVARCHAR(50),
    @p_Valor NVARCHAR(2), 
    @p_Lblusuario NVARCHAR(80),
    @p_Observaciones NVARCHAR(200),
    @p_tipo NVARCHAR(2),       -- "V" o "L"
    @p_tipoV NVARCHAR(2),      -- G1, R1, R2, etc.
    @p_Respuesta NVARCHAR(80) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET @p_Respuesta = 0;

    DECLARE @sql NVARCHAR(MAX);
    DECLARE @tabla NVARCHAR(50);
    DECLARE @campoUsuario NVARCHAR(50);

    -- Determinar tabla
    SET @tabla = CASE @p_tipo
                    WHEN 'V' THEN 'SolicitudesViat'
                    WHEN 'L' THEN 'LiquidacionGastos'
                 END;

    -- Determinar campo que será actualizado (columna aprobador)
    SET @campoUsuario = CASE @p_tipoV
                            WHEN 'G1' THEN 'UsuarioIdG1'
                            WHEN 'R1' THEN 'UsuarioIdR1'
                            WHEN 'R2' THEN 'UsuarioIdR2'
                            WHEN 'R3' THEN 'UsuarioIdR3'
                            WHEN 'O1' THEN 'UsuarioIdO1'
                        END;

    -- Validar datos esenciales
    IF @tabla IS NULL OR @campoUsuario IS NULL
    BEGIN
        SET @p_Respuesta = 0;
        RETURN;
    END

    -- Generar query dinámico con SQL seguro
    SET @sql = N'
        UPDATE [' + @tabla + ']
        SET EstadoSol = @Estado,
            Observaciones = @Obs,
            [' + @campoUsuario + '] = @Usuario
        WHERE Id = @IdSol;
    ';

    EXEC sp_executesql @sql,
        N'@Estado NVARCHAR(2), @Obs NVARCHAR(200), @Usuario NVARCHAR(80), @IdSol NVARCHAR(50)',
        @Estado = @p_Valor,
        @Obs = @p_Observaciones,
        @Usuario = @p_Lblusuario,
        @IdSol = @p_Id;

    SET @p_Respuesta = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ModificaC]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ModificaC]
    @p_IdZona VARCHAR(100),
	@IdTipoZ VARCHAR(100),
	@ValA VARCHAR(100),
	@ValB VARCHAR(100),
	@ValC VARCHAR(100),
    @p_Respuesta VARCHAR(10) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
	SET @p_Respuesta ='0'
	 
  BEGIN

  	UPDATE [SISTEMA_VIATICOS].[dbo].[CategoriaZona]
      SET [TipoZona] = @IdTipoZ
      ,[ValorA] = @ValA
	  ,[ValorB] = @ValB
	  ,[ValorC] = @ValC
	WHERE [ID] =  @p_IdZona;
	   
	SET @p_Respuesta ='1';

  END



END;


GO
/****** Object:  StoredProcedure [dbo].[sp_ModificaE]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ModificaE]
    @p_E VARCHAR(100),
    @p_dni VARCHAR(255),
	@p_nomE VARCHAR(100),
	@p_numCta VARCHAR(100),
	@p_cate VARCHAR(100),
	@p_depto VARCHAR(100),
	@p_estadoE VARCHAR(100),
	@p_puestoE VARCHAR(100),
    @p_Respuesta VARCHAR(10) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
	SET @p_Respuesta ='0'
	 
  BEGIN

		UPDATE [dbo].[EmpleadosBnd]
		   SET [NOMBRE_EMPLEADO] = @p_nomE
			  ,[CEDULA] = @p_dni
			  ,[ESTADO] = @p_estadoE
			  ,[NUMERO_CUENTA] = @p_numCta
			  ,[FECHA_INGRESO] = GETDATE()
			  ,[COD_AREA] = 0.0
			  ,[COD_PUESTO] = 0.0
			  ,[CATEGORIA] = @p_cate
			  ,[DESCRIPCION_PUESTO] = @p_puestoE
			  ,[DESCRIPCION_DEPARTAMENTO] = @p_depto
		 WHERE [CODIGO_EMPLEADO] = @p_E
	   
	SET @p_Respuesta ='1';

  END



END;


GO
/****** Object:  StoredProcedure [dbo].[sp_ModificaLiquidacion]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ModificaLiquidacion]
@p_Id NVARCHAR(80),
@p_numCta NVARCHAR(80),
@p_idCategoriaLbl NVARCHAR(80),
@p_Lblusuario NVARCHAR(80),
@p_CodE NVARCHAR(10),
@p_flname NVARCHAR(80),
@p_ddZona1 NVARCHAR(80),
@p_ddZona2 NVARCHAR(80),
@p_ddZona3 NVARCHAR(80),
@p_puestoE NVARCHAR(80),
@p_ddDepto NVARCHAR(80),
@p_datetimePicker NVARCHAR(80),
@p_datetimePicker2 NVARCHAR(80),
@p_valZ1 NVARCHAR(80),
@p_valZ2 NVARCHAR(80),
@p_valZ3 NVARCHAR(80),
@p_valZ4 NVARCHAR(80),
@p_tiempo1 NVARCHAR(80),
@p_tiempo2 NVARCHAR(80),
@p_tiempo3 NVARCHAR(80),
@p_tiempo4 NVARCHAR(80),
@p_TotalvalZ1 NVARCHAR(80),
@p_TotalvalZ2 NVARCHAR(80),
@p_TotalvalZ3 NVARCHAR(80),
@p_TotalvalZ4 NVARCHAR(80),
@p_Number1 NVARCHAR(80),
@p_peajesTxt NVARCHAR(80),
@p_depreciaTxt NVARCHAR(80),
@p_lubComb NVARCHAR(80),
@p_totalAsignado NVARCHAR(80),
@p_totalGastos NVARCHAR(80),
@p_txtDiff NVARCHAR(80),
@p_propositoTxt NVARCHAR(80),
@p_Text1 NVARCHAR(80),
@p_transpIU NVARCHAR(80),
@p_ddTipoTransp NVARCHAR(2),
@p_ddDiff NVARCHAR(2),

@p_Respuesta NVARCHAR(80) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
	SET @p_Respuesta ='0'
	 
	DECLARE @resultado DECIMAL(10,2);

	SET @resultado =
        ISNULL(TRY_CAST(@p_tiempo1 AS DECIMAL(10,2)), 0) +
        ISNULL(TRY_CAST(@p_tiempo2 AS DECIMAL(10,2)), 0) +
        ISNULL(TRY_CAST(@p_tiempo3 AS DECIMAL(10,2)), 0) +
		ISNULL(TRY_CAST(@p_tiempo4 AS DECIMAL(10,2)), 0);


  BEGIN


  UPDATE [dbo].[LiquidacionGastos]
   SET [Destino1] = @p_ddZona1
	  ,[Destino2] = @p_ddZona2
      ,[Destino3] = @p_ddZona3
      ,[EstadoSol] = 2
      ,[Proposito] = @p_propositoTxt
      ,[MontoAsignado] = @p_totalAsignado
	  ,[MontoTotal] = @p_totalGastos
	  ,[MontoDiferencia] = @p_txtDiff
      ,[FechaInicio] = @p_datetimePicker
      ,[FechaFin] = @p_datetimePicker2
      ,[CantDias] = @resultado
      ,[Observaciones] = @p_Text1
	  ,[Depto] = @p_ddDepto
	  ,[TipoTransporte] = @p_ddTipoTransp
	  ,[DiferenciaAFavor] = @p_ddDiff	  
 WHERE Id = @p_Id;


	DELETE FROM [dbo].[DetalleLiquidacion] WHERE [LiquidacionId] = @p_Id;


	INSERT INTO [dbo].[DetalleLiquidacion] ([LiquidacionId],[DescDetalle], [DiasSiNo], [Monto])
    VALUES 
        (@p_Id, @p_valZ1 ,ISNULL(TRY_CAST(@p_tiempo1 AS DECIMAL(10,2)), 0), ISNULL(TRY_CAST(@p_TotalvalZ1 AS DECIMAL(10,2)), 0)),
		(@p_Id,  @p_valZ2 ,ISNULL(TRY_CAST(@p_tiempo2 AS DECIMAL(10,2)), 0), ISNULL(TRY_CAST(@p_TotalvalZ2 AS DECIMAL(10,2)), 0)),
		(@p_Id, @p_valZ3 ,ISNULL(TRY_CAST(@p_tiempo3 AS DECIMAL(10,2)), 0), ISNULL(TRY_CAST(@p_TotalvalZ3 AS DECIMAL(10,2)), 0)),
		(@p_Id, @p_valZ4 ,ISNULL(TRY_CAST(@p_tiempo4 AS DECIMAL(10,2)), 0), ISNULL(TRY_CAST(@p_TotalvalZ4 AS DECIMAL(10,2)), 0)),
		(@p_Id, 'TIU',0, ISNULL(TRY_CAST(@p_transpIU AS DECIMAL(10,2)), 0)),
		(@p_Id, 'TU',0, ISNULL(TRY_CAST(@p_Number1 AS DECIMAL(10,2)), 0)),
		(@p_Id, 'P',0, ISNULL(TRY_CAST(@p_peajesTxt AS DECIMAL(10,2)), 0)),
		(@p_Id, 'DV',0, ISNULL(TRY_CAST(@p_depreciaTxt AS DECIMAL(10,2)), 0)),
		(@p_Id, 'LC',0, ISNULL(TRY_CAST(@p_lubComb AS DECIMAL(10,2)), 0));


	SET @p_Respuesta ='1';

  END



END;


GO
/****** Object:  StoredProcedure [dbo].[sp_ModificaSol]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ModificaSol]
@p_Id NVARCHAR(80),
@p_numCta NVARCHAR(80),
@p_idCategoriaLbl NVARCHAR(80),
@p_Lblusuario NVARCHAR(80),
@p_CodE NVARCHAR(10),
@p_flname NVARCHAR(80),
@p_ddZ1 NVARCHAR(80),
@p_ddZ2 NVARCHAR(80),
@p_ddZ3 NVARCHAR(80),
@p_puestoE NVARCHAR(80),
@p_ddDepto NVARCHAR(80),
@p_datetimePicker NVARCHAR(80),
@p_datetimePicker2 NVARCHAR(80),
@p_valZ1 NVARCHAR(80),
@p_valZ2 NVARCHAR(80),
@p_valZ3 NVARCHAR(80),
@p_valZ4 NVARCHAR(80),
@p_tiempo1 NVARCHAR(80),
@p_tiempo2 NVARCHAR(80),
@p_tiempo3 NVARCHAR(80),
@p_tiempo4 NVARCHAR(80),
@p_TotalvalZ1 NVARCHAR(80),
@p_TotalvalZ2 NVARCHAR(80),
@p_TotalvalZ3 NVARCHAR(80),
@p_TotalvalZ4 NVARCHAR(80),
@p_Number1 NVARCHAR(80),
@p_peajesTxt NVARCHAR(80),
@p_depreciaTxt NVARCHAR(80),
@p_totalAsignado NVARCHAR(80),
@p_propositoTxt NVARCHAR(80),
@p_Text1 NVARCHAR(80),
@p_transpIU NVARCHAR(80),
@p_TipoTransp NVARCHAR(80),
@p_LubComb  NVARCHAR(80),
@p_Respuesta NVARCHAR(80) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
	SET @p_Respuesta ='0'
	 
	DECLARE @resultado DECIMAL(10,2);

	SET @resultado =
        ISNULL(TRY_CAST(@p_tiempo1 AS DECIMAL(10,2)), 0) +
        ISNULL(TRY_CAST(@p_tiempo2 AS DECIMAL(10,2)), 0) +
        ISNULL(TRY_CAST(@p_tiempo3 AS DECIMAL(10,2)), 0) +
		ISNULL(TRY_CAST(@p_tiempo4 AS DECIMAL(10,2)), 0);


  BEGIN

  UPDATE [dbo].[SolicitudesViat]
   SET [Destino1] = @p_ddZ1
      ,[Destino2] = @p_ddZ2
	  ,[Destino3] = @p_ddZ3
      ,[EstadoSol] = 2
      ,[Proposito] = @p_propositoTxt
      ,[MontoTotal] = @p_totalAsignado
      ,[FechaInicio] = @p_datetimePicker
      ,[FechaFin] = @p_datetimePicker2
      ,[CantDias] = @resultado
      ,[Observaciones] = @p_Text1
	  ,[Depto] = @p_ddDepto
	  ,[TipoTransp] = @p_TipoTransp
 WHERE Id = @p_Id;
	   


	DELETE FROM [dbo].[DetalleViaticos] WHERE [SolicitudId] = @p_Id;


	INSERT INTO [dbo].[DetalleViaticos] ([SolicitudId],[DescDetalle], [DiasSiNo], [Monto])
    VALUES 
        (@p_Id, @p_valZ1 ,ISNULL(TRY_CAST(@p_tiempo1 AS DECIMAL(10,2)), 0), ISNULL(TRY_CAST(@p_TotalvalZ1 AS DECIMAL(10,2)), 0)),
		(@p_Id,  @p_valZ2 ,ISNULL(TRY_CAST(@p_tiempo2 AS DECIMAL(10,2)), 0), ISNULL(TRY_CAST(@p_TotalvalZ2 AS DECIMAL(10,2)), 0)),
		(@p_Id, @p_valZ3 ,ISNULL(TRY_CAST(@p_tiempo3 AS DECIMAL(10,2)), 0), ISNULL(TRY_CAST(@p_TotalvalZ3 AS DECIMAL(10,2)), 0)),
		(@p_Id, @p_valZ4 ,ISNULL(TRY_CAST(@p_tiempo4 AS DECIMAL(10,2)), 0), ISNULL(TRY_CAST(@p_TotalvalZ4 AS DECIMAL(10,2)), 0)),
		(@p_Id, 'TIU',0, ISNULL(TRY_CAST(@p_transpIU AS DECIMAL(10,2)), 0)),
		(@p_Id, 'TUT',0, ISNULL(TRY_CAST(@p_Number1 AS DECIMAL(10,2)), 0)),
		(@p_Id, 'P',0, ISNULL(TRY_CAST(@p_peajesTxt AS DECIMAL(10,2)), 0)),
		(@p_Id, 'DV',0, ISNULL(TRY_CAST(@p_depreciaTxt AS DECIMAL(10,2)), 0)),
		(@p_Id, 'LC',0, ISNULL(TRY_CAST(@p_LubComb AS DECIMAL(10,2)), 0));


	SET @p_Respuesta ='1';

  END



END;


GO
/****** Object:  StoredProcedure [dbo].[sp_ModificaU]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ModificaU]
    @p_U VARCHAR(100),
    @p_pass VARCHAR(255),
    @p_nom VARCHAR(100),
    @p_tipo VARCHAR(100),
    @p_corr VARCHAR(100),
    @p_depto VARCHAR(100),
    @p_estado VARCHAR(100),
    @p_Respuesta VARCHAR(10) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET @p_Respuesta = '0';

    DECLARE @depto_actual CHAR(2);

    -- Paso 1: Obtener departamento actual del usuario
    SELECT @depto_actual = USDEPTO
    FROM [SISTEMA_VIATICOS].[dbo].[UsrVtcs]
    WHERE USUN = @p_U;

    -- Paso 2: Si @p_depto ya está asociado a otro usuario, removerlo
    DELETE FROM [SISTEMA_VIATICOS].[dbo].[UsuarioDepartamentos]
    WHERE IdDepto = @p_depto AND USUN <> @p_U;

    -- Paso 3: Ver si el usuario ya tiene ese depto (evitar duplicados)
    IF NOT EXISTS (
        SELECT 1 FROM [SISTEMA_VIATICOS].[dbo].[UsuarioDepartamentos]
        WHERE USUN = @p_U AND IdDepto = @p_depto
    )
    BEGIN
        INSERT INTO [SISTEMA_VIATICOS].[dbo].[UsuarioDepartamentos] (USUN, IdDepto)
        VALUES (@p_U, @p_depto);
    END

    -- Paso 4: Actualizar la tabla principal solo si el depto no cambió
    IF @p_depto = @depto_actual
    BEGIN
        UPDATE [SISTEMA_VIATICOS].[dbo].[UsrVtcs]
        SET USUP = HASHBYTES('SHA2_256', @p_pass),
            USUCN = @p_nom,
            USUE = @p_estado,
            USTYPE = @p_tipo,
            USDEPTO = @p_depto,
            USEMAIL = @p_corr
        WHERE USUN = @p_U;
    END
    ELSE
    BEGIN
        -- Solo actualizar datos sin cambiar USDEPTO
        UPDATE [SISTEMA_VIATICOS].[dbo].[UsrVtcs]
        SET USUP = HASHBYTES('SHA2_256', @p_pass),
            USUCN = @p_nom,
            USUE = @p_estado,
            USTYPE = @p_tipo,
            USEMAIL = @p_corr
        WHERE USUN = @p_U;
    END;

	IF @p_estado ='I'
	BEGIN
	    -- Elimino registro si existe en tabla secundaria
			DELETE FROM [SISTEMA_VIATICOS].[dbo].[UsuarioDepartamentos]
			WHERE USUN = @p_U;

	END;


    SET @p_Respuesta = '1';
END











GO
/****** Object:  StoredProcedure [dbo].[sp_ModificaZ]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ModificaZ]
    @p_Id VARCHAR(100),
	@IdCate VARCHAR(100),
	@NomZona VARCHAR(100),
    @p_Respuesta VARCHAR(10) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
	SET @p_Respuesta ='0'
	 
  BEGIN

  	UPDATE [SISTEMA_VIATICOS].[dbo].[ZONAS]
      SET [TipoZona] = @IdCate
      ,[Descripcion] = @NomZona
	WHERE [ID_ZONA] =  @p_Id;
	   
	SET @p_Respuesta ='1';

  END



END;


GO
/****** Object:  StoredProcedure [dbo].[sp_Rastreo]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Rastreo]
    @p_U VARCHAR(20),
	@p_T VARCHAR(2),
    @p_Respuesta VARCHAR(250) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
	SET @p_Respuesta ='0'
	 

	 IF(@p_T = '1') 
	 BEGIN
	 SELECT 
		   @p_Respuesta = 'El Solicitante: ' + [NombreSol] +
			' Con #Solicitud de viaticos: ' + CAST(Id AS VARCHAR) +
			' Se encuentra en Estado: ' +	
			CASE 
				WHEN [EstadoSol] = 1 THEN 'CREADO'
				WHEN [EstadoSol] = 2 THEN 'EN ESPERA'
				WHEN [EstadoSol] = 4 THEN 'EN PAGADURIA'
				WHEN [EstadoSol] = 5 THEN 'EN PRESUPUESTO'
				WHEN [EstadoSol] = 6 THEN 'EN ADMINISTRACION'
				WHEN [EstadoSol] = 7 THEN 'EN OPERACIONES'
				WHEN [EstadoSol] = 3 THEN 'RECHAZADO' 
			END 
		FROM [SISTEMA_VIATICOS].[dbo].[SolicitudesViat]
		WHERE CodE = @p_U  OR ID = @p_U
		ORDER BY ID DESC;

	 END
	 ELSE
	 	 BEGIN
			 SELECT 
				   @p_Respuesta = 'El Solicitante: ' + [NombreSol] +
					' Con #Solicitud de Liquidacion: ' + CAST(Id AS VARCHAR) +
					' Se encuentra en Estado: ' +	
					CASE 
						WHEN [EstadoSol] = 1 THEN 'CREADO'
						WHEN [EstadoSol] = 2 THEN 'EN ESPERA'
						WHEN [EstadoSol] = 4 THEN 'EN PAGADURIA'
						WHEN [EstadoSol] = 5 THEN 'EN PRESUPUESTO'
						WHEN [EstadoSol] = 6 THEN 'EN ADMINISTRACION'
						WHEN [EstadoSol] = 7 THEN 'EN OPERACIONES'
						WHEN [EstadoSol] = 3 THEN 'RECHAZADO' 
					END 
				FROM [SISTEMA_VIATICOS].[dbo].[LiquidacionGastos]
				WHERE CodE = @p_U  OR ID = @p_U
				ORDER BY ID DESC;
	 END

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarPago]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RegistrarPago]
    @SolicitudId INT,
    @Monto DECIMAL(10,2),
    @MetodoPago NVARCHAR(50)
AS
BEGIN
    INSERT INTO Pagos (SolicitudId, Monto, MetodoPago)
    VALUES (@SolicitudId, @Monto, @MetodoPago);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ReporteViaticosAprobados]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ReporteViaticosAprobados]
AS
BEGIN
    SELECT 
        s.Id AS SolicitudID,
        u.USUCN AS Empleado,
        s.FechaSolicitud,
        s.Estado,
        s.MontoTotal,
        d.TipoGasto,
        d.Monto AS MontoGasto,
        d.Descripcion
    FROM SolicitudesViaticos s
    JOIN UsrVtcs u ON s.UsuarioId = u.USID
    JOIN DetalleViaticos d ON s.Id = d.SolicitudId
    WHERE s.Estado = 'Aprobado';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TblDevuelveFirma]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TblDevuelveFirma]

AS
BEGIN
    
	  WITH RankedUsuarios AS (
    SELECT 
        USTYPE Tipo,
        USUN Usuario,
        ROW_NUMBER() OVER (PARTITION BY USTYPE ORDER BY USUN) AS rn
    FROM SISTEMA_VIATICOS.dbo.UsrVtcs
    WHERE USUE = 'A' AND USTYPE IN ('R1', 'R2', 'R3'))
	SELECT Tipo, Usuario
	FROM RankedUsuarios
	WHERE rn = 1;

	

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TblRpt]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TblRpt]
  @p_Id INT, 
  @p_IdEstado VARCHAR(20),
  @p_Desde VARCHAR(20),
  @p_Hasta VARCHAR(20)
AS
BEGIN
    

	IF(@p_Id =1)
	BEGIN
			SELECT 
			ROW_NUMBER() OVER (ORDER BY A.Id) AS No,  -- Campo autoincremental
			'' AS NUMERO_CC,
			C.DescDepto,
			[NombreSol] AS NOMBRE_EMPLEADO,  
			CONVERT(varchar(10), [FechaInicio], 105) + ' AL ' + CONVERT(varchar(10), [FechaFin], 105) AS RANGO_FECHAS,
			RTRIM(
				ISNULL(B1.Descripcion + ', ', '') +
				ISNULL(B2.Descripcion + ', ', '') +
				ISNULL(B3.Descripcion, '')
			) AS DESTINO,
			A.CantDias AS DIAS_VIAJE,
			A.MontoTotal AS VALOR,
			A.NumCta AS CUENTA_EMPLEADO
		FROM SISTEMA_VIATICOS.dbo.SolicitudesViat A
		LEFT JOIN SISTEMA_VIATICOS.dbo.ZONAS B1 ON A.Destino1 = B1.ID_ZONA
		LEFT JOIN SISTEMA_VIATICOS.dbo.ZONAS B2 ON A.Destino2 = B2.ID_ZONA
		LEFT JOIN SISTEMA_VIATICOS.dbo.ZONAS B3 ON A.Destino3 = B3.ID_ZONA
		INNER JOIN SISTEMA_VIATICOS.dbo.DeptoBnd C ON A.Depto = C.IdDepto
		WHERE A.EstadoSol = @p_IdEstado AND A.FechaInicio >= @p_Desde  AND A.FechaFin <= @p_Hasta;

	END
	ELSE
	BEGIN

			SELECT 
			ROW_NUMBER() OVER (ORDER BY A.Id) AS No,  -- Campo autoincremental
			'' AS NUMERO_CC,
			C.DescDepto,
			[NombreSol] AS NOMBRE_EMPLEADO,  
			CONVERT(varchar(10), [FechaInicio], 105) + ' AL ' + CONVERT(varchar(10), [FechaFin], 105) AS RANGO_FECHAS,
			RTRIM(
				ISNULL(B1.Descripcion + ', ', '') +
				ISNULL(B2.Descripcion + ', ', '') +
				ISNULL(B3.Descripcion, '')
			) AS DESTINO,
			A.CantDias AS DIAS_VIAJE,
			A.MontoTotal AS VALOR,
			A.NumCta AS CUENTA_EMPLEADO
		FROM [SISTEMA_VIATICOS].[dbo].[LiquidacionGastos] A
		LEFT JOIN SISTEMA_VIATICOS.dbo.ZONAS B1 ON A.Destino1 = B1.ID_ZONA
		LEFT JOIN SISTEMA_VIATICOS.dbo.ZONAS B2 ON A.Destino2 = B2.ID_ZONA
		LEFT JOIN SISTEMA_VIATICOS.dbo.ZONAS B3 ON A.Destino3 = B3.ID_ZONA
		INNER JOIN SISTEMA_VIATICOS.dbo.DeptoBnd C ON A.Depto = C.IdDepto
		WHERE A.EstadoSol = @p_IdEstado AND A.FechaInicio >= @p_Desde  AND A.FechaFin <= @p_Hasta;

	END





END;
GO
/****** Object:  StoredProcedure [dbo].[sp_validaCat]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_validaCat]
    @p_C VARCHAR(20),
    @p_Respuesta INTEGER OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
	SET @p_Respuesta ='0'
	 
	 SELECT @p_Respuesta = COUNT(1) FROM [dbo].[CategoriaZona]
	 WHERE Id = @p_C;


END;
GO
/****** Object:  StoredProcedure [dbo].[sp_validaE]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_validaE]
    @p_U VARCHAR(20),
    @p_Respuesta INTEGER OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
	SET @p_Respuesta ='0'
	 
	 SELECT @p_Respuesta = COUNT(1) FROM [dbo].[EmpleadosBnd]
	 WHERE [CODIGO_EMPLEADO] = @p_U


END;
GO
/****** Object:  StoredProcedure [dbo].[sp_validaLiquidacion]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_validaLiquidacion]
    @p_CodE VARCHAR(20),
    @p_Respuesta INTEGER OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
	SET @p_Respuesta ='0'
	 
  SELECT @p_Respuesta = COUNT(1)  FROM [SISTEMA_VIATICOS].[dbo].[LiquidacionGastos]
  WHERE CodE = @p_CodE AND [EstadoSol] !=9

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_validaSol]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_validaSol]
    @p_CodE VARCHAR(20),
    @p_Respuesta INTEGER OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
	SET @p_Respuesta ='0'
	 
	 SELECT @p_Respuesta = COUNT(1) FROM [SISTEMA_VIATICOS].[dbo].[SolicitudesViat]
	 WHERE CodE = @p_CodE AND [EstadoSol] !=9

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ValidaSolViat]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ValidaSolViat]
  @p_Id VARCHAR(20),
  @p_Respuesta nvarchar(20) OUTPUT
AS
BEGIN
 

SELECT @p_Respuesta = COUNT(1) 
FROM [SISTEMA_VIATICOS].[dbo].[LiquidacionGastos]
WHERE [IdSolicitud] = @p_Id;


END;















GO
/****** Object:  StoredProcedure [dbo].[sp_validaUsu]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_validaUsu]
    @p_U VARCHAR(20),
    @p_Respuesta INTEGER OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
	SET @p_Respuesta ='0'
	 
	 SELECT @p_Respuesta = COUNT(1) FROM [dbo].[UsrVtcs]
	 WHERE [USUN] = @p_U 


END;
GO
/****** Object:  StoredProcedure [dbo].[sp_validaZon]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_validaZon]
    @p_Z VARCHAR(40),
    @p_Respuesta INTEGER OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
	SET @p_Respuesta ='0'
	 
	 SELECT @p_Respuesta = COUNT(1) FROM [dbo].[ZONAS]
	 WHERE [Descripcion] = @p_Z


END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ValUsuario]    Script Date: 30/5/2025 15:48:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ValUsuario]
    @Usuario NVARCHAR(100),
    @Contraseña VARBINARY(64),
    @Mensaje NVARCHAR(255) OUTPUT,
    @Estado INT OUTPUT,
    @USTipo NVARCHAR(4) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Validar si usuario y contraseña coinciden
    IF EXISTS (
        SELECT 1 FROM SISTEMA_VIATICOS.dbo.UsrVtcs
        WHERE USUN = @Usuario AND USUP = @Contraseña
    )
    BEGIN
        -- Validar si el usuario está activo (USUE = 1)
        IF EXISTS (
            SELECT 1 FROM SISTEMA_VIATICOS.dbo.UsrVtcs
            WHERE USUN = @Usuario AND USUP = @Contraseña AND USUE = 'A'
        )
        BEGIN
            SELECT TOP 1 @USTipo = USTYPE
            FROM SISTEMA_VIATICOS.dbo.UsrVtcs
            WHERE USUN = @Usuario AND USUP = @Contraseña;

            SET @Mensaje = 'Login Exitoso';
            SET @Estado = 1;
        END
        ELSE
        BEGIN
            SET @Mensaje = 'Usuario Inactivo';
            SET @Estado = 2;
            SET @USTipo = NULL;
        END
    END
    ELSE
    BEGIN
        SET @Mensaje = 'Usuario o Contraseña Incorrectos';
        SET @Estado = 0;
        SET @USTipo = NULL;
    END
END;
GO
USE [master]
GO
